<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
	</startup>

    <appSettings>
   <!-- Credentials are to be in the form of Username, Password, Domain, any other combination will break the connection -->
    <add key="credentials" value="Username,Paswword,Domain"></add>
    <add key="url" value="Exchange URL"></add>
    <add key="shared_mail_test" value="Testing sharred mail"></add>
    <add key="einvoiceMail" value="Production shared mail"></add>
     	
	<add key="se" value="a,b,c"></add>
	<add key="fu" value="a,b,c"></add>
	<add key="as" value="a,b,c"></add>
	<add key="it" value="a,b,c"></add>
	<add key="ma" value="a,b,c"></add>
	<add key="ot" value="a,b,c"></add>
	<add key="sh" value="a,b,c"></add>
	<add key="ut" value="a,b,c"></add>
	<add key="uni" value="a,b,c"></add>
	<add key="testSender" value="Test sender(s)"></add>
    <add key="testMail" value="Test mail"></add>
	<add key="saveFolderTesting" value="Test saving folder"></add>
	<add key="save_Einv" value="Production saving folder"></add>
    </appSettings>
</configuration>