<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
	</startup>

    <appSettings>
    
    <!-- Credentials are to be in the form of Username, Password, Domain, any other combination will break the connection -->
   
    <add key="credentials" value="username,password,domain"></add>
    <add key="url" value="Exchange URL"></add>
    <add key="einvoiceMail" value="Shared e-mail"></add>
    <!-- Suppliers' categories are listed below -->
    <!-- Service -->    	
	<add key="se" value="a,b,c"></add>
    <!-- Fuels -->
	<add key="fu" value="a,b,c"></add>
    <!-- Assets -->	
	<add key="as" value="a,b,c"></add>
    <!-- IT -->	
	<add key="it" value="a,b,c"></add>
    <!-- Materials -->	
	<add key="ma" value="a,b,c"></add>
    <!-- Other -->	
	<add key="ot" value="a,b,c"></add>
    <!-- Shops -->	
	<add key="sh" value="a,b,c"></add>
    <!-- Utilities -->	
	<add key="ut" value="a,b,c"></add>
    <!-- Unilever -->	
	<add key="uni" value="a,b,c"></add>

	
	<add key="save_Einv" value="F:\Invoices\InputInvoices\"></add>

	
	<!-- Configuration options for debuging -->
     <add key="debug" value="true"></add>
	 <add key="test_credentials" value="username,password,domain"></add>
	 <add key="test_url" value="xchange URL"></add>
     <add key="shared_mail_test" value="test e-mail"></add>
     <add key="testSender" value="test senders"></add>
     <add key="saveFolderTesting" value="test save folder"></add>
    </appSettings>
</configuration>